<%
require "redcarpet" 
renderer = Redcarpet::Render::HTML.new(filter_html: true, no_styles: true, safe_links_only: true)
markdown = Redcarpet::Markdown.new(renderer, autolink: true, tables: true, fenced_code_blocks: true)
user_message = locals[:message]
%>

<!-- User Message -->
<div class="flex justify-end mb-4">
  <div class="bg-blue-600 text-white p-4 rounded-2xl rounded-br-md max-w-2xl">
    <%= markdown.render(user_message) %>
  </div>
</div>
